[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NJB ToDo
Comment=NJB Note taking todo
Exec=kitty --directory /data/notes --class njb -o allow_remote_control=yes -o enabled_layouts=tall njb -t
Categories=Utility;TextEditor
Terminal=false
Icon=nvim
